<?xml version="1.0"?>
<config>
    <modules>
        <VS7_SaleFeed>
            <version>0.1.0</version>
        </VS7_SaleFeed>
    </modules>
    <global>
        <models>
            <vs7_salefeed>
                <class>VS7_SaleFeed_Model</class>
            </vs7_salefeed>
        </models>
        <events>
            <vs7_salefeed_generate_feed>
                <observers>
                    <vs7_salefeed_generate_feed>
                        <class>VS7_SaleFeed_Model_Observer</class>
                        <method>generateFeed</method>
                    </vs7_salefeed_generate_feed>
                </observers>
            </vs7_salefeed_generate_feed>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <vs7_salefeed>
                                            <title>Sale XML Feed</title>
                                        </vs7_salefeed>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <crontab>
        <jobs>
            <vs7_salefeed_generate_feed>
                <schedule>
                    <cron_expr>27 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>vs7_salefeed/observer::generateFeed</model>
                </run>
            </vs7_salefeed_generate_feed>
        </jobs>
    </crontab>
    <default>
        <vs7_salefeed>
            <general>
                <active>0</active>
                <filename>feed</filename>
                <filename_orders>feed</filename_orders>
                <use_gzip>0</use_gzip>
            </general>
        </vs7_salefeed>
    </default>
</config>